name: Build container
env:
  VERSION: 0.0.3
  REGISTRY: https://harbor.bwgdi.com
  REGISTRY_NAME: harbor.bwgdi.com
  REGISTRY_PATH: library
  DOCKER_NAME: voxcpmtts
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.BWGDI_NAME }}
          password: ${{ secrets.BWGDI_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.REGISTRY_NAME }}/${{ env.REGISTRY_PATH }}/${{ env.DOCKER_NAME }}:${{ env.VERSION }}
